# macOS
.DS_Store

# Python
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
dist/
downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
.hypothesis/
.mypy_cache/
.ruff_cache/
.env
.envrc
.venv
venv/
env/
ENV/
.ipynb_checkpoints/
.cursorignore
.cursorindexingignore
.vscode/
.idea/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive tfvars
terraform.tfvars
*.auto.tfvars
